@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Roboto:ital,wght@0;0,300;0,700;1,100;1,300;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* Navegação */
.navbar{
    padding: 0;
    background-color: #FFCDD2;
}
.navbar-brand{
   margin-left: 100px;
}
.navbar-collapse{
    margin-right: 100px;
}
.collapse ul li a{
    display: block;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    padding: 35px 0;
    font-size: 18px;
}
.collapse ul li a:hover{
    color: #ED3136;
}

/* vagas-curriculo-classificados */

.container{
    margin-top: 140px;
}
#vaga1{
    background-color: rgb(48, 106, 214);
    color: white;
}
#vaga2{
    background-color: rgb(48, 106, 214);
    color: white;
}
#vaga3{
    background-color: rgb(211, 166, 3);
    color: white;
}
#vaga4{
    background-color: rgb(72, 211, 3);
    color: white;
}
#curriculo1{
    background-color: orangered;
    color: white;
}
#curriculo2{
    background-color: orangered;
    color: white;
}
#curriculo3{
    background-color: rgb(211, 166, 3);
    color: white;
}
#curriculo4{
    background-color: rgb(72, 211, 3);
    color: white;
}
#classificado1{
    background-color: rgb(4, 101, 36);
    color: white;
}
#classificado2{
    background-color: rgb(4, 101, 36);
    color: white;
}
#classificado3{
    background-color: rgb(211, 166, 3);
    color: white;
}
#classificado4{
    background-color: rgb(72, 211, 3);
    color: white;
}
.numero{
    font-size: 70px;
}
.vagas{
    font-size: 30px;
}
.curriculo{
    font-size:30px ;
}
.classificado{
    font-size: 30px;
}
.spanbutton{
    font-size: 20px;
}
.banner{
    padding: 20px 20px;
}
.banner a, h2 {
    text-decoration: none;
}

/* NOTICIAS */
.container1{
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0 120px;
}
.card-text{
    height: 80px;
}
.destaques1 {
    background-color: rgb(43, 171, 226);
    display: inline-block;
    border-radius: 3px;
    padding: 4px 8px;
    margin: 10px 0;
}
.destaques2{
    background-color: rgb(241, 230, 29);
    display: inline-block;
    border-radius: 3px;
    padding: 4px 8px;
    margin: 10px 0;
}
.destaques3{
    background-color: rgb(71, 234, 21);
    display: inline-block;
    border-radius: 3px;
    padding: 4px 8px;
    margin: 10px 0;
}
.destaques4{
    background-color: rgb(240, 19, 225);
    display: inline-block;
    border-radius: 3px;
    padding: 4px 8px;
    margin: 10px 0;
}
.btn-ler{
    background-color:#51aaf9!important;
    color: azure!important;
}
.btn-ler:hover{
    background-color:#118df9!important;
    color: azure!important;
}

/* Rodape */
.containe2{
    margin-top: 50px;
}
.footer1{
    background-color:#E53935;
}
.row-footer{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.texto{
    font-size: 30px;
    color: white;
}
.text-center{
    text-align: center!important;
}
p{
   font-size: 18px; 
   color: white;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: #000000;
}
.footer-copyright{
    background-color: #D73935;
    padding: 10px 0;
}
/* Pagina do Curriculo */
.container-cv{
    background-color:rgb(255, 205, 210, 0.4);
    padding: 50px;
    margin-bottom: 100px;
    border-radius: 10px;
}
.cadCv{
    margin-bottom: 30px;
}
.btn-success a{
    color: white;
    text-decoration: none;
}

/* pagina notcia */
.container-noticia{
    margin-top: 50px;
    margin-bottom: 50px;
}
.card{
    background-color: #ED3136;
    margin-bottom: 50px;
}
.card-text{
    color: #42484E;
    font-size: 17px;
    text-align: justify;
}
.card-text2{
    color: #42484E;
    font-size: 17px;
    text-align: justify;
}
.data {
    display: inline-block;
    color: #5B5B5B;
    padding: 5px;
    background-color:#E4E4E4;
    margin-left: 15px;
    margin-bottom: 5px;
    text-decoration: none;
}
.Oktoberfest1 {
    display: inline-block;
    padding: 5px;
    text-align: center;
    color: white;
    background-color: #ED3136;
    margin-left: 15px;
    margin-bottom: 5px;
    text-decoration: none;
}
.btn-noticia{
    height: 20px;
}
.small{
   margin-left: 15px!important;
   margin-right: 15px!important;
}


/* aba esquerda */

.btn-group-vertical{
    box-shadow: 0 0 1px 0 #000000;
    width: 100%;
}
.btn-group-vertical a{
    width: 100%;
    color: #E53935;
}
.btn-group-vertical a:hover{
    background-color:#0000003d;
    padding: 3px;
}
.btn-group-vertical .btn{
    color:#E53935;
}


